<link rel="stylesheet" type="text/css"   href="/css/login-page/style.css">
<%- include('../partials/_head') %>
<%if (typeof error !== "undefined") { %>
    <%=error%>
<% } %>
<main>
    <section class = "login">
    <h1>Login</h1>
    <form action="/auth/login" method="POST"> 
        <div>
            <input type='text' placeholder = "Email" id="email" name="email"/> 
        </div>
        <div>
            <input type='text' placeholder="Password" id="password" name="password"/> 
        </div>
        <section class = "login__button">
        <button type="submit" value= "Login">What Should I Eat Today? </button>
    </section>
    </form>
</section>
<section class = "login__picture--container">
<img class= "login__picture" src = "/assets/homecooking.jpg">
</section>
</main>
<%- include('../partials/_footer') %>