<%- include('../partials/_head') %>
<main>
    <h1>Sign Up</h1>
    <form action="/auth/register" method="POST"> 
        <div>
            <label for="username">Username</label>
            <input type='text' id="username" name="username"/> 
        </div>
        <div>
            <label for="name">Name</label>
            <input type='text' id="name" name="name"/> 
        </div>
        <div>
            <label for="isProfessionalChef">Are you a Professional Chef?</label>
            <input type='checkbox' id="isProfessionalChef" name="isProfessionalChef"/> 
        </div>
        <div>
            <label for="foodPreference">What is your Favorite Type of Cuisine?</label>
            
            <input type='checkbox' id="foodPreference" name="foodPreference" value="Asian"/> 
            <label for="foodPreference">Asian</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="American"/> 
            <label for="foodPreference">American</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="Indian"/> 
            <label for="foodPreference">Indian</label>

            <input type='checkbox' id="foodPreference" name="foodPreference" value="Mediterranean"/> 
            <label for="foodPreference">Mediteranean</label>
        </div>
        <div>
            <label for="email">Email</label>
            <input type='text' id="email" name="email"/> 
        </div>
        <div>
            <label for="password">Password</label>
            <input type='text' id="password" name="password"/> 
        </div>
        <div>
            <label for="password2">Confirm Password</label>
            <input type='text' id="password2" name="password2"/> 
        </div>
        <button type="submit" value= "Register">Let's Eat!</button> 
    </form>
</main>
<%- include('../partials/_footer') %>