:root {
    --primary-variant: #93202c;
    --primary: #d32e3f;
    --primary-variant-light: #db5765;
    --secondary:  #2ed3c2;
    --secondary-variant: #209387;
    --secondary-variant-light: #57dbce;
    --analogous: #d3702e;
    --triadic: #3fd32e;
    --background: #eceff1;
    --surface: #eceff1;
    --error: #B00020; 
}


* {box-sizing: border-box;}

body {
    background-color:  white;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
    font-family: Merriweather, serif;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

input {
    margin:15px;
}

.sign-up__form--non-checkbox {
    background-color: white;
    border: none;
	padding: 5px;
    margin: 8px 0;
    height: 8%;
    width: 50%;
    border-radius: 10px;
}

.sign-up__form {
    flex-grow: 1;
    width: 50%;
    height: 80%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background);
    padding-top: 2%;
    border-radius: 0 10px 10px 0;
}

.sign-up__description {
    flex-grow: 2;
    width: 50%;
    height: 80%;
    background: var(--primary);
    text-align: center;
    padding-top: 15%;
    border-radius: 10px 0 0 10px;
    color: white;
}

.sign-up__form--button {
    padding-top: 10px;
}

button {
	border-radius: 20px;
	border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-variant);
}
