:root {
    --primary-variant: #b71c2c;
    --primary: #d32e3f;
    --primary-variant-light: #f54047;
    --secondary:  #2ed3c2;
    --analogous: #d3702e;
    --triadic: #3fd32e;
    --background: #eceff1;
    --surface: #eceff1;
    --error: #B00020;
    --green: 27704f;
}


* {box-sizing: border-box;}

main {
	background: var(--off-white);
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: row;    
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Raleway;
}



.login {
    flex-grow: 1;
    width: 50%;
    height: 80%;
    text-align: center;
    background-color: white;
    padding-top: 10%;
    border-radius: 10px 0 0 10px;
}

input {
    background-color: var(--off-white);
    border: none;
    margin: 10px;
    height: 5%;
    width: 30%;
    border-radius: 10px;
}

.login__picture--container {
    flex-grow: 2;
    width: 50%;
    height: 80%;
}

.login__picture {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

.login__button {
    padding-top: 20px;
}


button {
	border-radius: 20px;
	border: 1px solid var(--green);
	background-color: var(--green);
	color: white;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: var(--orange);
}