<header>
    <nav>
      <ul>
        <li>
          <a href='/'>Home</a>
        </li>
        <li>
          <a href='/auth/login'>Login</a>
        </li>
        <li>
          <a href='/auth/register'>Sign Up</a>
        </li>
        <li>
          <a href='/recipes'>Recipes</a>
        </li>
        <li>
          <a href='/recipes/new'>Add New Recipe</a>
        </li>
        <li> 
          <a href='/auth/logout'>Logout</a>
        </li>
      </ul>
    </nav>
  </header>