<header>
    <nav class = 'navbar'>
      <a href='/'><img src = "/assets/logo.png" id="logo"/></a>
      <ul>
        <li>
          <a href='/'>Home</a>
        </li>
        <li>
          <a href='/auth/login'>Login</a>
        </li>
        <li>
          <a href='/auth/register'>Sign Up</a>
        </li>
        <li>
          <a href='/recipes'>Recipes</a>
        </li>
        <li>
          <a href='/user'>Get Random recipes</a>
        </li>
        <li> 
          <a href='/auth/logout'>Logout</a>
        </li>
      </ul>
    </nav>
  </header>