<header>
    <nav class = 'navbar'>
      <a href='/'><img src = "/assets/logo.png" id="logo"/></a>
      <ul>
        <li>
          <a href="/user/">Home</a>
        </li>
        <li>
          <a href='/recipes'>Recipes</a>
        </li>
        <li> 
          <a href='/auth/logout'>Logout</a>
        </li>
      </ul>
    </nav>
  </header>