:root {
    --primary-variant: #93202c;
    --primary: #d32e3f;
    --primary-variant-light: #db5765;
    --secondary:  #2ed3c2;
    --secondary-variant: #209387;
    --secondary-variant-light: #57dbce;
    --analogous: #d3702e;
    --triadic: #3fd32e;
    --background: #eceff1;
    --surface: #eceff1;
    --error: #B00020; 
}

* {
    box-sizing:border-box;
}

body {
    height: 100vh;
    background-color: var(--surface);
}

main {
    padding-bottom: 7%;
    padding-top: 7%;
    font-family: Merriweather, serif;
}
.card {
    text-align: center;
}

.checkbox {
    margin: 10px;
}

.checkbox label {
    margin: 2%;
}