:root {
    --primary-variant: #93202c;
    --primary: #d32e3f;
    --primary-variant-light: #db5765;
    --secondary:  #2ed3c2;
    --secondary-variant: #209387;
    --secondary-variant-light: #57dbce;
    --analogous: #d3702e;
    --triadic: #3fd32e;
    --background: #eceff1;
    --surface: #eceff1;
    --error: #B00020; 
}


* {
    box-sizing:border-box;
}


main {
    text-align: center;

    font-family: Merriweather, serif;
}

h1 {
    padding-right: 8%;
    padding-top: 3%;
}
.food-url {
    width:100%;
    height:220px;
    object-fit:cover;
    object-position:50% 50%;
}

.btn{
    background-color:var(--secondary);
    color: white;
}

.btn:hover {
    background-color: var(--secondary-variant);
}

body {
    height: 100vh;
    background-color: var(--surface)
}

.name {
    justify-content: center;
}

.title {
    text-align: left;
    font-weight: 300;
    font-style: italic;
    line-height: 1em;
    margin: 7%;
}

.answers {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 300;

}
























