<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href='https://fonts.googleapis.com/css?family=Merriweather:300italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css"   href="/css/landing-page/style.css">
    <title>Let's Eat | Homepage</title>
</head>
<body>
    <div class = "first-block animated fadeInLeft">
        <span class = "first-block__logo">
            <img  class= "logo" src = /assets/logo.png width="65%" >
            <h3>Recipes catered to you.<br> Made by people like you. 
                <br> Say Hello to your New Recipe Concierge.</h3> <br>
                <div class = "login-button">
                    <a href = '/auth/login'>Let's Cook</a>
                </div>
                <div class = "signup-button">
                    <a href = '/auth/register'>Sign Me Up!</a>
                </div>
        </span>
        <img class = "ingredients" src = /assets/fresh-ingredients.png width="40%" height="auto">
    </div>
    <div class = "second-block animated fadeInRight delay-1s">
        <img src = /assets/asian.jpg class ="asian-food">
        <span class = "second-block__information">
            <h2> Think Twice About Going Out To Eat</h2>
            <p>Enjoy delicious recipes from all over the world that you can make at home with simple ingredients. </p>
        
        <div class="share">
            <!--  cover  -->
              <span class="share__cover">
                See Our Recipes!
              </span>
              <a href="/recipes/">Mmmmmm Delicious</a>
            </div>
        </span>
    </div>
    
    <div class = "third-block animated fadeInUp delay-2s">
        <h2>How Let's Eat Works</h2>
        <span class = "third-block__steps">
            <span class = "third-block__steps-first">
            <h3>Step 1 </h3> 
            <p>Sign up <a href = '/auth/register/' target='_blank'>here</a>.<br> Complete your personal profile to your liking.</p>
            <img class = "third-block__steps-icons" src = "/assets/user.png"> 
        </span>
        <span class = "third-block__steps-second">
            <h3>Step 2</h3> 
            <p> Next time you sign in, you will have 4 random recipes <br> sent to you based off your profile preference.</p>
            <img class = "third-block__steps-icons" src = "/assets/list.png"> 
            </span>
            <span class = "third-block__steps-third">
            <h3>Step 3</h3>
            <p>Follow recipe instructions.<br> Enjoy.</p>
            <img class = "third-block__steps-icons" src = "/assets/delicious-face.png"> 
        </span>
        </span>
    </div>
    <%-include('partials/_footer')%>
</body>
</html>
 

<script type="text/javascript" src="/javascript/app.js" defer></script>