<%- include('../partials/_head') %>

<main>
    
    <button><a href="#">Random Recipes</a></button>
    <button><a href="#">change Food Prefrence</a></button>
    <h1><%=user.name %> name </h1>

</main>

<%- include('../partials/_footer') %>