<%- include('../partials/_head', {user_id:user_id}) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
<link href='https://fonts.googleapis.com/css?family=Merriweather:300italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/new-recipe/style.css">

<script src = '/new.js' defer></script>
<main>

    <form action="/users " method="POST"> 
    <section class="d-flex justify-content-center animated fadeInRight delay-1s">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h3 class="card-title">Add New Recipe</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" for= 'name'>Name of Recipe: </li>
            <textarea id="name" name="name"></textarea>
          <li class="list-group-item">Author</li>
          <select name="user" id="user">
            <option value="<%= user._id %>"><%= user.name %></option>
        </select>
    
      
        
        <div class = 'ingredients'>
            <label for="ingredients">Ingredients Needed to make this Recipe: </label>
            <button type ="menu" class= 'new-ingredient-btn' >Add New Ingredient</button><br/>
            <textarea class="new-ingredients" id = 'ingredients' name="ingredients"  rows="1" cols="37"></textarea><br />
           
        </div>



        <div>
            <div class = 'directions'>   
                <label for="direction">Directions for this Recipe: </label><br/>
                <button type ="menu" class= 'new-direction-btn' >Add New Direction</button><br />
                <textarea  class = 'new-direction' id= 'dierections' name="direction"  rows="5" cols="37"></textarea>

             </div>
        </div>

        <div class = 'image'>
            <label for="url">Place Image Link Here:</label>
            <input type = 'url' id="url" name="url"/> 
        </div>
        
        <li class="list-group-item category">What culture does this recipe belong to?
        <section class="checkbox">
        <label for="origin">Asian</label>
        <input type='checkbox' id="origin" name="origin" value="Asian"/> 
    
        <label for="origin">American</label>
        <input type='checkbox' id="origin" name="origin" value="American"/> 
        
        <label for="origin">Indian</label>
        <input type='checkbox' id="origin" name="origin" value="Indian"/> 
       
        <label for="origin">Mediteranean</label>
        <input type='checkbox' id="origin" name="origin" value="Mediterranean"/> 
    </section>
</li> 
    </ul>
          <button type="submit">Add New Recipe</button> 
      </div>
    </form>
        
</section>
</main>
<%- include('../partials/_footer') %>