
<%- include('../partials/_head', {user:user}) %>
<link rel="stylesheet" href="/css/recipe-new/style.css">
<script src = '/new.js' defer></script>

<main>

    <form action="/users " method="POST"> 
    <section class="d-flex justify-content-center">
    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h3 class="card-title">Add New Recipe</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" for = 'name'>Name of Recipe </li>
            <textarea id="name" name="name"></textarea>


          <li class="list-group-item">Author</li>
          <select name="user" id="user">
            <option value="<%= user._id %>"><%= user.name %></option>
        </select>
        <br />
      
        <button type ="menu" class= 'new-ingredient-btn' >new ingredients</button><br />
        <div class = 'ingredients'>
            <label for="ingredients">Ingredients Needed to make this Recipe </label><br/>
            <textarea class="new-ingredients" id = 'ingredients' name="ingredients"  rows="1" cols="25"></textarea>
        
        </div>

        <button type ="menu" class= 'new-direction-btn' >new dierections</button><br />

        <div>
            <div class = 'directions'>   
                <label for="direction">Directions for this Recipe </label><br/>
                <textarea  class = 'new-direction' id= 'dierections' name="direction"  rows="5" cols="50"></textarea>
             </div>
        </div>

  

        <li class="list-group-item">Place Image Link Here</li>
        <input type = 'url' id="url" name="url"/> 
        <li class="list-group-item">What culture does this recipe belong to?
        <section class="checkbox">
        <label for="origin">Asian</label>
        <input type='checkbox' id="origin" name="origin" value="Asian"/> 
    
        <label for="origin">American</label>
        <input type='checkbox' id="origin" name="origin" value="American"/> 
        
        <label for="origin">Indian</label>
        <input type='checkbox' id="origin" name="origin" value="Indian"/> 
       
        <label for="origin">Mediteranean</label>
        <input type='checkbox' id="origin" name="origin" value="Mediterranean"/> 
    </section>
</li> 
    </ul>
          <button type="submit">Add New Recipe</button> 
      </div>
    </form>
        
</section>
</main>
<%- include('../partials/_footer') %>