:root {
    --primary-variant: #b71c2c;
    --primary: #d32e3f;
    --primary-variant-light: #f54047;
    --secondary:  #2ed3c2;
    --analogous: #d3702e;
    --triadic: #3fd32e;
    --background: #eceff1;
    --surface: #eceff1;
    --error: #B00020;
}

* {
    box-sizing:border-box;
}

body {
    height: 100vh;
}

main {
    background: linear-gradient(to right, var(--green), var(--blue));
}
.card {
    text-align: center;
}

.checkbox {
    margin: 10px;
}

.checkbox label {
    margin: 2%;
}

