:root {
    --yellow: #F8B734;
    --orange: #f78f29;
    --blue:  #2B898B;
    --green: #27704f;
    --dark-grey: #213037;
    --off-white: #f5f5f5;
}

* {
    box-sizing:border-box;
}

.btn{
    background-color: #639953;
    color: #D6ECFF;
    margin-bottom: 5px;
}

#text{
    margin: 20%;
}


h1 {
    padding-right: 8%;
}
body {
    height: 100vh;
    background-color: var(--off-white);
}

.name {
    justify-content: center;
}
img {
    width: 50%;
    height: 50%;
}