<%-include('../partials/_head')%>

    <h1>Recipes Page</h1>


        <section>
            <%recipes.forEach((recipe) => {%> 
            <h4>
                <a href="recipes/<%=recipe._id%>">
                    <%= recipe.name %> 
                </a>
            </h4> 
            <% }) %>
        </section>


    
<%-include('../partials/_footer')%>